view,swiper,swiper-item{
    box-sizing: border-box;
}
//全局样式
.pageB{
	background-image: 
	linear-gradient(to bottom,transparent,#ffffff 600rpx),
	linear-gradient(to right,#A5E1C0,#ffcccc);
	min-height: 90vh;
}